@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #222831;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 968px) {
  img {
    width: 200px;
  }
}
@media (min-width: 768px) {
  img {
    width: 100px;
  }
}
